@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #111827;
  --color-light: #f9fafb;
  --color-primary: #1f2937;
  --color-secondary: #c69963;
  --color-border: #e5e7eb;
  --color-hover: #c69963;
  --color-focus: #d1d5db;
  --color-bg: #f3f4f6;
}

.dark {
  --color-dark: #f9fafb;
  --color-light: #111827;
  --color-primary: #f3f4f6;
  --color-secondary: #b78343;
  --color-border: #374151;
  --color-focus: #4b5563;
  --color-bg: #1f2937;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body {
  @apply transition-colors duration-300;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
